
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gabarito&family=Josefin+Sans:ital,wght@0,700;1,400&family=Noto+Sans+JP:wght@200&family=Oxygen:wght@700&family=Roboto+Condensed:ital@1&family=Sedgwick+Ave+Display&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gabarito&family=Josefin+Sans:ital,wght@0,700;1,400&family=Noto+Sans+JP:wght@200&family=Oxygen:wght@700&family=Roboto+Condensed:ital@1&family=Sedgwick+Ave+Display&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gabarito&family=Josefin+Sans:ital,wght@0,700;1,400&family=Noto+Sans+JP:wght@200&family=Oxygen:wght@700&family=Roboto+Condensed:ital@1&family=Sedgwick+Ave+Display&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gabarito&family=Josefin+Sans:ital,wght@0,700;1,400&family=Noto+Sans+JP:wght@200&family=Oxygen:wght@700&family=Roboto+Condensed:ital@1&family=Sedgwick+Ave+Display&family=Shadows+Into+Light&display=swap');
.a1{
    width: 100px;
    height: 135px;
    border-radius: 55%;
    margin-top: 99px;
    margin-left: 19px;
    position: relative;


}
#a2{
    margin-top: -37px;
    font-family: 'Bebas Neue', sans-serif;

}
.navbar-toggler{
    background-color: gray;
}
body{
    background-color: rgb(80, 72, 72);


    /* background-color: rgb(104, 84, 61); */
    color:white;
}
#a4{
    border: 2px  rgb(80, 72, 72) solid;
    height: 244px;
    border-radius: 25%;
    width: 75%px ;
    padding:3px ;
    margin-left: 10px;
    position: sticky;
    font-family: 'Bebas Neue', sans-serif;



}
#a5{
    margin-left: 10px;
}
.main{
    background-color: aqua;
}
span{
    color: rgb(17, 10, 23);
}

/* :rgb(159, 192, 159); */
/* background-color: rgb(80, 72, 72); */
    #b5{
        width: 70%;
        margin-left: 44px;
        height: 157px;
        border-radius: 10%;
        font-family: 'Bebas Neue', sans-serif;

    }
    #b6{
        width: 70%;
        margin-left: 44px;
        height: 157px;
        border-radius: 10%;
        font-family: 'Bebas Neue', sans-serif;

    }
    #b7{
        width: 70%;
        margin-left: 44px;
        height: 157px;
        border-radius: 10%;
        font-family: 'Bebas Neue', sans-serif;

    }

